[user]
    name = Stefan Zamfirescu
    email = zamfirescu.stefan12@gmail.com
[core]
    editor = nvim
[push]
	autoSetupRemote = true
[alias]
    co = checkout
    ci = commit
    cia = commit --amend
    cp = cherry-pick
    #####
    rs = reset --soft HEAD~1
    lg = log --oneline --graph --decorate --all --color
    ss = stash save
    sp = stash pop
    #####
    rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
[init]
        defaultBranch = main
[include]
    path = ~/.gitconfig.local
